# Local debugging defaults, not a finalized evaluation protocol.
logToStderr = true
reportAnalysisWinratesAs = BLACK
numAnalysisThreads = 1
numSearchThreadsPerAnalysisThread = 8
nnMaxBatchSize = 8
nnCacheSizePowerOfTwo = 18
nnMutexPoolSizePowerOfTwo = 14
maxVisits = 500
analysisPVLen = 15
numNNServerThreadsPerModel = 1
metalDeviceToUseThread0 = 0

