# CUDA configuration; analysis queries set their own visit budgets and perspective.
logToStderr = true
reportAnalysisWinratesAs = BLACK
numAnalysisThreads = 1
numSearchThreadsPerAnalysisThread = 8
nnMaxBatchSize = 8
nnCacheSizePowerOfTwo = 18
nnMutexPoolSizePowerOfTwo = 14
maxVisits = 500
analysisPVLen = 15
numNNServerThreadsPerModel = 1
cudaDeviceToUseThread0 = 0
